* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: cabin;
}

.firstHead {
  display: grid;
  background-color: black;
  color: #f5f5f5;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  /* text-align: center; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.address {
  /* width: 40%; */
  text-align: center;
  color: #e9e9e9;
}
.address i {
  color: #ffcc4a;
}
.links {
  /* width: 20%; */
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(54, 53, 53);
  color: white;
  padding: 0 10%;
  /* text-align: center; */
}

.humbrger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  text-align: right;
  /* transition: all 2s; */
}
.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 4px;
  background-color: #c4c3c3;
  border-radius: 25px;
  transition: all 1s ease-in-out;
}

.name {
  width: 20%;
}

.linkslist {
  width: 40%;
}
.linkslist ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.linkslist ul li:hover,
li a:hover {
  color: #4eaf4e;
}
.linkslist a {
  text-decoration: none;
  color: white;
  list-style-type: circle;
}

.linkslist select {
  border: 0;
  background-color: rgb(54, 53, 53);
  color: white;
  font-size: 16px;
}
.callingNum {
  width: 200px;
}
.callingNum div {
  background-color: white;
  width: 200px;
  border-radius: 20px;
  color: black;
  padding: 5px;
  letter-spacing: 2px;
}
.callingNum div i {
  background-color: #ffcc4a;
  padding: 5px;
  border-radius: 20px;
  color: rgb(3, 3, 114);
}

.linkslist select:hover {
  color: #4eaf4e;
}

.options{
  position: relative;

}
.select{
  width: 78.63px;
}

.language ul{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
}
.language ul li{
  width: 100%;
  list-style-type: none;
}
.language{
  display: none;
  position: absolute;
  z-index: 3;
  /* top: 20%; */
  background-color: black;
  border-radius: 10px;
  width: 100px;
  margin-top: 10px;
}
.display{
  display: block;
}
.mini-nav-language{
  display: none;
}
.display{
  display: block;
}
.mini-nav-language ul{
  margin: 0 !important;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}
.mini-nav-language ul li{
  margin: 10px 0;
}
.mini-nav-language ul li:last-child{
  margin-bottom: 0;
}


.activeNav{
  display: none; 
  height: 300px;
  transition: all 1s ease;
}
.activeNavLinks{
  height: 100%;
  padding: 15px 0;
}
.activeList li a{
  text-decoration: none;
  color: white;
}
.activeList li a:hover{
  color: #4eaf4e;
}
.activeList li{
  color: #4eaf4e;
}
.activeList{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 0 10%;
  /* padding: 0; */
  list-style-type: circle;
}
.activeNavLinks select{
  background-color: black;
  color: white;
  border: 0;
  font-size: 16px;
}
.activeNavLinks select:hover{
  color: #4eaf4e;
}

/* Head Section  */

.section1 {
  position: relative;
}
.section1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.card {
  padding: 20px 35px;
  background-color: rgb(255, 255, 255, 0.8);
  /* opacity: 0.3; */
  width: 28rem;
  position: absolute;
  top: 25%;
  left: 15%;
  border-radius: 25px;
}
.cardPara {
  font-size: 28px;
  font-weight: bold;
}
.Service {
  font-size: 12px;
  padding: 3px 10px;
  width: 100px;
  text-align: center;
  background-color: #ffcc4a;
  color: black !important;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* OUR VISION  */

.OurVisionContainer {
  display: flex;
  width: 70%;
  margin: 50px auto;
  justify-content: space-between;
  gap: 30px;
  flex-direction: column;
}
.OurVisionContainer1 {
  display: flex;
  height: 350px;
}
.ourVision {
  font-size: 12px;
  padding: 3px 5px;
  width: 110px;
  text-align: center;
  background-color: #4eaf4e;
  border-radius: 20px;
  color: white;
  letter-spacing: 2px;
}
.headText {
  font-size: 30px;
  font-weight: bold;
}
.headtext1 {
  font-size: 14px;
  color: #7c7c7c;
}
.headtext2 {
  color: #7c7c7c;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}
.headtext2 i {
  padding-top: 12px;
  color: #4eaf4e;
}
.headtext2 p {
  margin: 0;
}
.text {
  width: 45%;
}
.OurVisionImg {
  width: 60%;
  position: relative;
}
hr {
  border: 1px solid #f5f5f5;
}
.cardContainer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.cardContainer p {
  margin: 0;
}
.card1,
.card2 {
  width: 140px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px 0;
  text-align: center;
  /* margin: 0 10px; */
}
.hr {
  border-left: 2px solid #f5f5f5;
}

.pattrenImg {
  width: 200px;
  position: absolute;
  top: 0;
  left: 85%;
}
.photomg {
  width: 80%;
  height: 365px;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 20%;
  border-radius: 20px;
  object-fit: cover;
}
.marketImg {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: #4eaf4e;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 92%;
}
.ourVisionNums {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  gap: 15px;
}
.ourVisionNums h3 {
  font-size: 32px;
  font-weight: bold;
}
.ourVisionNums p {
  font-weight: bold;
}

/* growingWithOurClients */

.growingWithOurClients {
  background-color: #f7f6f6;
}

.growingWithOurClientsContainer {
  width: 70%;
  margin: 0 auto;

  padding: 50px;
}
.growing {
  font-size: 12px;
  padding: 3px 10px;
  width: 240px;
  text-align: center;
  background-color: #ffcc4a;
  border-radius: 20px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.growingHead {
  display: flex;
  justify-content: space-between;
}
.growingWords {
  font-size: 14px;
  color: #7c7c7c;
  width: 70%;
}
.growingButton {
  width: 50%;
  text-align: right;
}

.growingHead button {
  background-color: black;
  color: white;
  padding: 15px 25px;
  border-radius: 25px;
  border: 0;
  margin-top: 50px;
}
.growingHeadWords h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}
.growingCardsContainer {
  display: flex;
  gap: 15px;
  transition: all 0.5s ease;
}
.growingCardContainer {
  width: 25%;
}
.growingCard {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}
.growingCardPara {
  font-size: 14px;
  color: #7c7c7c;
}
.growingCardIcon i {
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  /* padding: 15px 5px; */
}

/* Our History  */

.ourHistory {
  width: 70%;
  margin: 100px auto 150px auto;
}
.historyHead {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.historyWord {
  font-size: 12px;
  padding: 3px 10px;
  width: 120px;
  text-align: center;
  background-color: #4eaf4e;
  border-radius: 20px;
  color: white;
  letter-spacing: 2px;
}
.historyHead h1 {
  font-size: 32px;
  font-weight: bold;
  width: 50%;
  margin: 10px auto;
}
.historyHead p {
  margin: 0 0 20px 0;
}
.historyVideo {
  position: relative;
  width: 100%;
}
.pattrenImg2 {
  position: absolute;
  top: 0;
  left: 75%;
  z-index: -1;
}
.marketImg2 {
  width: 100px;
  height: 100px;
  background-color: #4eaf4e;
  border-radius: 15px;
  position: absolute;
  top: 82%;
  left: 0;
}
.historyVideo {
  width: 800px;
  height: 300px;
  border-radius: 25px;
  z-index: 3;
  top: 10%;
  left: 3%;
  transition: all 0.5s ease;
}

/* Our Team  */
.ourTeam {
  background-color: #f5f5f5;
  padding: 50px 0;
}
.teamContainer {
  width: 70%;
  margin: 0 auto;
}

.teamWord {
  font-size: 12px;
  padding: 3px 10px;
  width: 100px;
  text-align: center;
  background-color: #ffcc4a;
  border-radius: 20px;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
}
.teamHead {
  width: 60%;
}
.teamMembers {
  display: flex;
  justify-content: space-between;
}
.CEOMember {
  position: relative;
  margin: 30px 0;
  text-align: center;
}
.CEOword {
  position: absolute;
  top: 50%;
  left: 44%;
  padding: 5px 20px;
  background-color: #ffcc4a;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.CEOMember img {
  height: 300px;
  width: 90%;
  border-radius: 15px;
  object-fit: cover;
  object-position: top;
}
.CEOword2 {
  position: absolute;
  top: 50%;
  left: 65%;
  padding: 5px 20px;
  background-color: black;
  border-radius: 20px;
  color: white;
  transition: all 0.3s ease;
}
.CEOword3 {
  position: absolute;
  top: 50%;
  left: 44%;
  padding: 5px 20px;
  background-color: black;
  border-radius: 20px;
  color: white;
  transition: all 0.3s ease;
}
.discrption {
  font-size: 14px;
  color: #7c7c7c;
  margin: 0 10%;
}
.teamMembersLinks {
  display: flex;
  justify-content: space-around;
  margin: 10px 20%;
  font-size: 22px;
}

/* Book Now  */

.bookNow {
  width: 70%;
  margin: 100px auto;
}

.bookNowFooter {
  width: 100%;
  background-color: black;
  display: flex;
  /* padding: 50px 50px 0px 50px; */
  border-radius: 20px;
}
.bookNowprocessFooter {
  font-size: 12px;
  padding: 3px 10px;
  width: 100px;
  text-align: center;
  background-color: #4eaf4e;
  color: white !important;
  border-radius: 20px;
}
.bookNowFooter1 {
  width: 50%;
  text-align: left;
  padding: 75px 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.bookNowFooter1 h1 {
  color: white;
  font-size: 30px;
  width: 80%;
  margin: 5px 0;
}
.bookNowFooter1 h1 span {
  color: #7c7c7c;
}
.bookNowWordsFooter {
  color: white;
  width: 100%;
}
.bookNowNum {
  background-color: #ffcc4a;
  width: 200px;
  border-radius: 20px;
  color: black;
  padding: 5px;
  letter-spacing: 2px;
}
.bookNowNum i {
  background-color: #ffcc4a;
  padding: 5px;
  border-radius: 20px;
  color: rgb(3, 3, 114);
}
.bookNowFooter2 {
  margin: 0;
  padding: 0;
  position: relative;
  height: 550px;
  width: 50%;
}
.bookNowBgImage {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 0;
  width: 40%;
}
.bookNowImage {
  /* width: 80%; */
  /* height: 80%; */
  position: absolute;
  top: 30%;
  left: 50px;
  z-index: 2;
  width: 80%;
  height: 70%;
}
.bookNowBgColor {
  width: 31%;
  height: 55%;
  background-color: #ffcc4a;
  border-radius: 0 0 20px;
  position: absolute;
  top: 0;
  left: 60%;
}
.bookNowBgColor2 {
  width: 100px;
  height: 120px;
  background-color: #4eaf4e;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  z-index: 1;
  left: 25px;
}

/* footer  */

footer {
  background-color: black;
  padding: 30px;
}
.footerContainer {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  gap: 15px;
}
.footerCard1 {
  color: white;
  width: 30%;
}
.footerCard1 h1 i {
  color: #ffcc4a;
}
.footerCard2 {
  border-left: 1px solid #7c7c7c;
  padding-left: 100px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footerProduct {
  color: #c4c3c3;
  text-align: left;
}
.footerProduct h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.footerProduct hr {
  width: 30%;
  margin-left: 0;
  border: 1px solid #ffcc4a;
}
.footerProduct ul {
  padding: 20px;
  margin-bottom: 0;
}
.footerProduct button {
  padding: 20px 10px;
  width: 200px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
}
footer hr {
  border: 1px solid #7c7c7c;
}
/* @media screen and (max-width: 2641) and (min-width: 2000) {
  .CEOword3 {
    left: 70%;
  }
} */
@media screen and (max-width: 1440px) {
  .linkslist ul li {
    list-style-type: none;
  }
  .CEOword2 {
    left: 50%;
  }
}
@media screen and (max-width: 1350px) {
  .CEOword3{
    left: 38%;
  }
  .CEOword {
    left: 38%;
  }
}
@media screen and (max-width: 1200px) {
  .linkslist ul {
    padding: 0;
  }
  .historyVideo {
    width: 600px;
  }
  .teamContainer {
    width: 80%;
  }
  .CEOword {
    left: 30%;
  }
  .CEOword2 {
    left: 50%;
  }
  .CEOword3 {
    left: 30%;
  }
  .historyHead h1 {
    width: 100%;
  }
  
}
@media screen and (max-width: 992px) {
  .name {
    width: 100%;
  }

  nav {
    justify-content: space-between;
  }
  .linkslist {
    display: none;
  }
  .callingNum {
    margin-right: 20px;
  }
  .humbrger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }
  .bar2.active {
    opacity: 0;
  }
  .bar1.active {
    transform: rotate(45deg) translate(7.5px, 10px);
  }
  .bar3.active {
    transform: rotate(-45deg) translate(7.5px, -10px);
  }
  .activeNav.active{
    display: block;
    position: absolute;
    width: 100%;
    background-color: black;
    z-index: 3;
  }
  .navIcons {
    opacity: 0;
    padding: 30px 0;
    box-sizing: border-box;
    z-index: 3;
    background-color: white;
    width: 100%;
    height: 400px;
    color: black;
    border-radius: 5px;
  }
  .linkslist ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  .linkslist a {
    color: black;
  }
  .navIcons.active {
    display: flex;
    opacity: 1;
    width: 200px;
    position: absolute;
    top: 120px;
    right: 10%;
    font-size: 18px;
    font-weight: bold;
    transition: all 1s ease;
    justify-content: center;
    .linkslist ul {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  .linkslist select {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
  }

  .OurVisionContainer1 {
    flex-direction: column;
  }
  .text {
    width: 100%;
  }
  .OurVisionImg {
    display: none;
  }

  .growingCardsContainer {
    flex-direction: column;
  }
  .growingCardContainer {
    width: 100%;
  }

  .historyVideo {
    width: 600px;
    position: static;
  }
  .pattrenImg2 {
    display: none;
  }
  .marketImg2 {
    display: none;
  }
  .bookNow {
    width: 90%;
  }
  .bookNowHead {
    width: 100%;
  }
  .bookNowWords {
    width: 100%;
    font-size: 14px;
  }
  .bookNowContainer {
    width: 90%;
  }
  .bookNowFooter {
    flex-direction: column;
  }
  .bookNowFooter1 {
    width: 100%;
    padding: 30px;
  }
  .bookNowFooter1 h1 {
    font-size: 30px;
    color: white;
    margin: 5px 0;
  }
  .bookNowFooter2 {
    width: 100%;
  }
  .ourTeam {
    padding: 50px 0;
  }
  .teamHead {
    width: 100%;
  }
  .teamContainer {
    width: 90%;
  }
  .footerContainer {
    width: 85%;
  }
}

@media screen and (max-width: 786px) {
 
  .firstHead {
    grid-template-columns: 1fr 1fr;
  }
  .dateAndClock, .address, .links { 
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
  }
  .growingHead {
    flex-direction: column;
  }
  .growingButton {
    text-align: left;
    margin-bottom: 20px;
  }

  .historyVideo {
    width: 500px;
  }
  .teamMembers {
    flex-direction: column;
  }
  .CEOMember img {
    object-position: top;
  }

  .footerCard2 {
    border-left: 1px solid #7c7c7c;
    padding-left: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
  }

  .footerContainer {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
  }
  .footerCard1 {
    width: 100%;
    margin-bottom: 25px;
  }
  
}
@media screen and (max-width: 600px) {
  .callingNum {
    display: none;
  }
  .section1 img {
    display: none;
  }
  .section1 {
    background-color: #e9e9e9;
  }
  .card {
    width: 100%;
    position: static;
    /* background-color: #e9e9e9; */
    border-radius: 0;
  }

  .OurVisionContainer {
    width: 90%;
  }
  .ourVisionNums {
    flex-wrap: wrap;
  }

  .growingWithOurClientsContainer {
    width: 90%;
    padding: 50px 0;
  }

  .ourHistory {
    width: 90%;
  }
  .historyVideo {
    width: 400px;
  }
  .historyHead {
    width: 100%;
  }

  .bookNow {
    width: 90%;
  }
  .bookNowFooter1 {
    padding: 20px;
  }
  .bookNowWordsFooter {
    font-size: 14px;
  }
  .bookNowNum {
    font-size: 14px;
  }
  .bookNowFooter1 h1 {
    font-size: 20px;
  }
  .bookNowUser button {
    padding: 3px;
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .navIcons.active{
    top: 220px;
  }
  .firstHead {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .dateAndClock,
  .address,
  .links {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .dateAndClock{
    width: 100%;
  }
  .historyHead {
    font-size: 14px;
  }
  .historyVideo {
    width: 300px;
    height: 200px;
  }
  .footerContainer{
    width: 100%;
  }
  .footerCard1 h1{
    font-size: 28px;
    width: 100%;
  }
  .footerCard2 {
    border: 0;
    padding: 0;
    padding: 0 !important;
  }
  .bookNowFooter2 {
    display: none;
  }
  .footerCard1 h1 {
    font-size: 28px;
    width: 100%;
  }
  .footerProduct button {
    padding: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 340px) {

  .historyVideo {
    width: 250px;
    height: 200px;
  }
}
