* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: cabin;
}

.firstHead {
  display: grid;
  background-color: black;
  color: #f5f5f5;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
  /* text-align: center; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.address {
  /* width: 40%; */
  text-align: center;
  color: #e9e9e9;
}
.address i {
  color: #ffcc4a;
}
.links {
  /* width: 20%; */
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 53, 53);
  color: white;
  padding: 0 10%;
  /* text-align: center; */
}

.humbrger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  text-align: right;
  /* transition: all 2s; */
}
.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 4px;
  background-color: #c4c3c3;
  border-radius: 25px;
  transition: all 1s ease-in-out;
}

.linkslist {
  width: 40%;
}
.linkslist ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.linkslist ul li:hover,
li a:hover {
  color: #4eaf4e;
}
.linkslist a {
  text-decoration: none;
  color: white;
  list-style-type: circle;
}
.linkslist select {
  border: 0;
  background-color: rgb(54, 53, 53);
  color: white;
  font-size: 16px;
}
.callingNum {
  width: 200px;
}
.callingNum div {
  background-color: white;
  width: 200px;
  border-radius: 20px;
  color: black;
  padding: 5px;
  letter-spacing: 2px;
}
.callingNum div i {
  background-color: #ffcc4a;
  padding: 5px;
  border-radius: 20px;
  color: rgb(3, 3, 114);
}

.linkslist select:hover {
  color: #4eaf4e;
}
.options {
  position: relative;
}
.select {
  width: 78.63px;
}

.dropDown ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
}
.dropDown ul li {
  width: 100%;
  list-style-type: none;
}
.dropDown {
  display: none;
  position: absolute;
  z-index: 3;
  /* top: 20%; */
  background-color: black;
  border-radius: 10px;
  width: 100px;
  margin-top: 10px;
}
.mini-nav-dropDown {
  display: none;
  margin-left: 100px;
}
.display {
  display: block;
}
.mini-nav-dropDown ul {
  margin: 0 !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mini-nav-dropDown ul li {
  margin: 10px 0;
}
.mini-nav-dropDown ul li:last-child {
  margin-bottom: 0;
}

.activeNav {
  display: none;
  height: 400px;
  transition: all 1s ease;
}
.activeNavLinks {
  height: 100%;
  padding: 15px 0;
}
.activeList li a {
  text-decoration: none;
  color: white;
}
.activeList li a:hover {
  color: #4eaf4e;
}
.activeList li {
  color: white;
}
.activeList li:hover {
  color: #4eaf4e;
}
.activeList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 0 10%;
  /* padding: 0; */
  list-style-type: circle;
}
.activeNavLinks select {
  background-color: black;
  color: white;
  border: 0;
  font-size: 16px;
}
.activeNavLinks select:hover {
  color: #4eaf4e;
}

/* Section 1 */

.section1 {
  position: relative;
}
.section1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
}
.card {
  padding: 20px 35px;
  background-color: rgb(255, 255, 255, 0.9);
  /* opacity: 0.3; */
  width: 20rem;
  position: absolute;
  top: 25%;
  left: 15%;
  border-radius: 25px;
}
.cardBtn1 {
  padding: 10px;
  border-radius: 25px;
  background-color: black;
  color: white;
}

.cardBtn2 {
  padding: 10px;
  border-radius: 25px;
  background-color: white;
  font-weight: 400;
}
.cardPara {
  font-size: 26px;
  font-weight: bold;
}

/* blog section  */

.blog {
  background-color: #e9e9e9;
}
.bolgContainer {
  width: 70%;
  margin: 0 auto;
  padding: 150px 0 50px 0;
}

.blogHead {
  display: flex;
  justify-content: space-between;
}
.blogHeadWords {
  width: 25%;
}
.blogWord {
  font-size: 12px;
  padding: 3px 10px;
  width: 70px;
  text-align: center;
  background-color: #4eaf4e;
  color: white !important;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.blogWord1 {
  font-size: 12px;
  padding: 3px 10px;
  width: 70px;
  text-align: center;
  background-color: #ffcc4a;
  color: black !important;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.blogHead button {
  margin-top: 70px;
  padding: 15px 25px;
  border-radius: 25px;
  background-color: #ffcc4a;
  font-weight: bold;
  border: 0;
  float: right;
}
.blogBody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.blogBodyCard1 {
  /* width: 48%; */
}
.blogBodyCard1 img,
.blogBodyCard2 img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 300px;
}
.blogBodyCard2 {
  /* width: 48%; */
}
.blogBodyCard1End {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogBodyCard1End img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.blogBodyCard1EndButton {
  padding: 15px 25px;
  border-radius: 25px;
  background-color: black;
  font-weight: bold;
  border: 0;
  color: white;
  transition: all 0.3s ease;
}
.blogBodyCard1EndButton a {
  text-decoration: none;
  color: white;
}
.blogBodyCard1EndButton a:hover {
  color: black;
}
.blogBodyCard1EndButton:hover {
  background-color: #e9e9e9;
  border: 1px solid #7c7c7c;
  color: black;
}

/* contact section  */
.contact {
  padding: 100px 0;
}
.contactContainer {
  width: 70%;
  margin: 0 auto;
  /* padding: 50px; */
  background-color: black;
  color: white;
  border-radius: 25px;
}
.contactHead {
  width: 50%;
  padding: 50px;
}
.contactContainer {
  display: flex;
  /* justify-content: space-between; */
}
.contactImage {
  position: relative;
  width: 50%;
}
.teamImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  /* top: 1; */
  /* left: 7%; */
  border-radius: 20px;
  object-fit: cover;
}
.Pattern {
  height: 60%;
  width: 39%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: -3%;
  transform: rotate(73deg);
}
.contactEmail {
  padding: 20px;
  /* width: 60%; */
  border-radius: 30px;
  margin-bottom: 10px;
  border: 0;
}
.btn {
  padding: 20px;
  border-radius: 30px;
  background-color: #4eaf4e;
  color: white;
  border: 0;
}

/* footer  */

footer {
  background-color: black;
  padding: 30px;
}
.footerContainer {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.footerCard1 {
  color: white;
  width: 25%;
}

.footerCard1 h1 i {
  color: #ffcc4a;
}
.footerCard2 {
  /* border-left: 1px solid #7c7c7c; */
  /* padding-left: 80px; */
  width: 80%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.hr2 {
  width: 1px;
  height: 200px;
  background-color: #7c7c7c;
}
.footerProduct {
  color: #c4c3c3;
  /* width: 100%; */
  text-align: left;
}
/* .footerProduct ul li:first-child {
  font-size: 20px;
  font-weight: 600;
  list-style-type: none;
} */
.footerProduct h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.footerProduct hr {
  width: 30%;
  margin-left: 0;
  border: 1px solid #ffcc4a;
}
.footerProduct ul {
  padding: 10px 0 30px 20px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footerProduct button {
  padding: 20px 10px;
  width: 200px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
}
.buttonList {
  list-style-type: none;
}
footer hr {
  border: 1px solid #7c7c7c;
}
.endOfPage{
  color: #c5c5c5;
  text-align: center;
  line-height: 25px;
}
@media screen and (max-width: 1440px) {
  .linkslist ul li {
    list-style-type: none;
  }
}
@media screen and (max-width: 1350px) {
  .blogBodyCard1EndButton {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 1200px) {
  .blogBodyCard1EndButton {
    padding: 10px 15px;
  }
  .linkslist ul {
    padding: 0;
  }
  .blogBodyCard1End {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .name {
    width: 100%;
  }
  nav {
    justify-content: space-between;
  }
  .linkslist {
    display: none;
  }
  .callingNum {
    /* width: 100%; */
    /* display: none; */
    margin-right: 20px;
  }
  .humbrger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }
  .bar2.active {
    opacity: 0;
  }
  .bar1.active {
    transform: rotate(45deg) translate(7.5px, 10px);
  }
  .bar3.active {
    transform: rotate(-45deg) translate(7.5px, -10px);
  }

  .activeNav.active {
    display: block;
    position: absolute;
    width: 100%;
    background-color: black;
    z-index: 3;
  }

  .contactContainer {
    width: 90%;
  }
  .contactHead {
    font-size: 14px;
    padding: 30px;
  }
  .bolgContainer {
    width: 90%;
  }
  .footerContainer {
    width: 85%;
  }
  .footerProduct button {
    width: 170px;
    font-size: 14px;
  }
}
@media screen and (max-width: 786px) {
  .firstHead {
    grid-template-columns: 1fr 1fr;
  }
  .dateAndClock,
  .address,
  .links {
    width: 100%;
    text-align: left;
  }
  .links {
    margin-bottom: 10px;
  }
  .blogHead {
    flex-direction: column;
  }
  .blogHead button {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .blogHead h1 {
    font-size: 18px;
  }
  .blogHeadWords {
    width: 100%;
  }

  .blogBody {
    flex-direction: column;
  }
  .blogBodyCard1 {
    width: 100%;
  }
  .blogBodyCard2 {
    width: 100%;
  }

  .blogBodyCard1EndButton {
    padding: 12px;
  }
  .btn {
    margin-top: 10px;
  }

  .footerCard2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .footerContainer {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
  }
  .hr2 {
    display: none;
  }
  .footerCard1 {
    width: 100%;
    margin-bottom: 25px;
  }
  .footerProduct {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .blogBody {
    grid-template-columns: repeat(1, 1fr);
  }
  .blogBodyCard1EndButton {
    padding: 7px;
  }
  .blogBodyCard1End {
    flex-direction: row;
  }
  .callingNum {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .Pattern {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .process2Head {
    flex-direction: column;
  }
  .process2Head div {
    width: 100%;
  }
  .process2Container {
    width: 90%;
  }

  .process2Nums {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .clientFeedBackImg {
    width: 100px;
    height: 100px;
  }
  .feedbackHead h1 {
    font-size: 22px;
  }
  .feedbackWords {
    font-size: 14px;
  }
  .feedbackFooter1 {
    padding: 5px;
  }
  .feedbackWordsFooter {
    font-size: 14px;
  }
  .feedbackNum {
    font-size: 14px;
  }
  .feedbackFooter1 h1 {
    font-size: 20px;
  }
  .feedbackUser button {
    padding: 3px;
    font-size: 12px;
  }

  .bolgContainer {
    width: 90%;
  }
  .blogBodyCard1,
  .blogBodyCard2 {
    font-size: 14px;
  }
  .blogBodyCard1 h2,
  .blogBodyCard2 h2 {
    font-size: 18px;
  }

  .contactImage {
    display: none;
  }

  .contactHead {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .navIcons.active {
    top: 220px;
  }
  .callingNum {
    display: none;
  }
  .section1 img {
    display: none;
  }
  .section1 {
    background-color: #e9e9e9;
  }
  .card {
    width: 100%;
    position: static;
    /* background-color: #e9e9e9; */
    border-radius: 0;
  }

  .footerContainer {
    width: 90%;
  }
  .footerCard1 h1 {
    font-size: 28px;
    width: 100%;
  }
  .footerCard2 {
    border: 0;
    padding: 0 !important;
    flex-direction: column;
  }
  .footerProduct button {
    padding: 10px;
    font-size: 14px;
  }

  .feedbackFooter2 {
    display: none;
  }
  .firstHead {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .email,
  .address,
  .links {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .footerProduct button {
    padding: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 350px) {
  .blogBodyCard1End {
    flex-direction: column;
  }
  .contactEmail {
    padding: 20px 15px;
  }
}
