* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: cabin;
}
header {
  position: relative;
}

.firstHead {
  display: grid;
  background-color: black;
  color: #f5f5f5;
  align-items: center;
  padding: 0 10%;
  /* text-align: center; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  /* align-items: center; */
}
.dateAndClock{
  display: flex;
  align-items: center;
  gap: 5px;
}

.address {
  text-align: center;
  color: #e9e9e9;
}
.address i {
  color: #ffcc4a;
}
.links {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 53, 53);
  color: white;
  padding: 0 10%;

  /* text-align: center; */
  /* transition: all 1s ease;   */
}

.humbrger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  text-align: right;
  margin-left: 20px;
  /* transition: all 2s; */
}
.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 4px;
  background-color: #c4c3c3;
  border-radius: 25px;
  transition: all 1s ease-in-out;
}

.linkslist {
  width: 43%;
}
.linkslist ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.linkslist ul li:hover,
li a:hover {
  color: #4eaf4e;
}
.linkslist a {
  text-decoration: none;
  color: white;
  list-style-type: circle;
}
.NumHumbgerContainer {
  display: flex;
  /* width: 35%; */
}
.callingNum {
  width: 200px;
}
.callingNum div {
  background-color: white;
  /* width: 65%; */
  border-radius: 20px;
  color: black;
  padding: 5px;
  letter-spacing: 2px;
}
.callingNum div i {
  background-color: #ffcc4a;
  padding: 5px;
  border-radius: 20px;
  color: rgb(3, 3, 114);
}

.linkslist select {
  border: 0;
  background-color: rgb(54, 53, 53);
  color: white;
  font-size: 16px;
}
.linkslist select:hover {
  color: #4eaf4e;
}
.options {
  position: relative;
}
.select {
  width: 78.63px;
}

.dropDown ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
}
.dropDown ul li {
  width: 100%;
  list-style-type: none;
}
.dropDown {
  display: none;
  position: absolute;
  z-index: 3;
  /* top: 20%; */
  background-color: black;
  border-radius: 10px;
  width: 100px;
  margin-top: 10px;
  transition: all 1s ease-in-out;
}
.mini-nav-dropDown {
  display: none;
  margin-left: 100px;
}
.display {
  display: block;
}
.mini-nav-dropDown ul {
  margin: 0 !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mini-nav-dropDown ul li {
  margin: 10px 0;
}
.mini-nav-dropDown ul li:last-child {
  margin-bottom: 0;
}

.activeNav {
  display: none;
  height: 400px;
  transition: all 1s ease;
}
.activeNavLinks {
  height: 100%;
  padding: 15px 0;
}
.activeList li a {
  text-decoration: none;
  color: white;
}
.activeList li a:hover {
  color: #4eaf4e;
}
.activeList li {
  color: white;
}
.activeList li:hover {
  color: #4eaf4e;
}
.activeList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 0 10%;
  /* padding: 0; */
  list-style-type: circle;
}
.activeNavLinks select {
  background-color: black;
  color: white;
  border: 0;
  font-size: 16px;
}
.activeNavLinks select:hover {
  color: #4eaf4e;
}

/* Section 1 */

.section1 {
  position: relative;
}
.section1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.card {
  padding: 35px;
  background-color: rgb(255, 255, 255, 0.9);
  /* opacity: 0.3; */
  width: 20rem;
  position: absolute;
  top: 25%;
  left: 15%;
  border-radius: 15px;
}
.cardBtn1 {
  padding: 10px;
  border-radius: 25px;
  background-color: black;
  color: white;
  border: 0;
}

.cardBtn2 {
  padding: 5px;
  border-radius: 25px;
  background-color: white;
  font-weight: 400;
  border: 1px solid #e9e9e9;
}
.cardBtn2 i {
  background-color: #4eaf4e;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
}
.cardPara {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.cardPara1 {
  font-size: 14px;
  color: #7c7c7c;
  /* margin: 0; */
}

/* Section 2 */

.brandImages {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
  /* grid-area: a; */
  justify-items: center;
  transition: all 0.3s ease;
}
.brandImages img {
  /* width: 200px; */
}
.S2Container {
  display: flex;
  width: 70%;
  margin: 50px auto;
  justify-content: space-between;
  gap: 30px;
}
.about {
  font-size: 10px;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  background-color: #ffcc4a;
  border-radius: 20px;
  font-weight: bold;
}
.headText {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.headtext1 {
  font-size: 18px;
  font-weight: bold;
}
.headtext2 {
  color: #7c7c7c;
  margin-bottom: 40px;
}
.text {
  width: 35%;
}
.S2ImagesContainer {
  display: grid;
  /* grid-template-areas: ". a ."; */
  justify-items: center;
}
.S2Img {
  width: 70%;
  position: relative;
}
hr {
  border: 1px solid #f5f5f5;
}
.cardContainer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.cardContainer p {
  margin: 0;
}
.card1,
.card2 {
  width: 140px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px 0;
  text-align: center;
  /* margin: 0 10px; */
}
.card1 {
  margin-right: 10px;
}
.card2 {
  margin-left: 11px;
}
.hr {
  border-left: 2px solid #f5f5f5;
}

.pattrenImg {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 12%;
}
.photomg {
  width: 80%;
  height: 365px;
  position: absolute;
  z-index: 2;
  /* top: 30px; */
  left: 20%;
  border-radius: 20px;
  object-fit: cover;
}
.marketImg {
  position: absolute;
  z-index: 3;
  width: 200px;
  top: 65%;
  left: 13%;
}

/* Section 3 */

.section3 {
  background-color: #f5f5f5;
}
.S3Container {
  width: 70%;
  text-align: center;
  margin: 50px auto;
  padding: 150px 0;
}
.S3Head {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.S3Head h1 {
  font-size: 30px;
  font-weight: bold;
}
.services {
  font-size: 12px;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  background-color: #4eaf4e;
  border-radius: 20px;
  /* margin: 0; */
  /* font-weight: bold; */
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.S3CardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.S3Card {
  padding: 25px;
  background-color: #e9e9e9;
  border-radius: 20px;
  text-align: left;
  transition: all 0.3s ease;
}
.S3Card h3 {
  font-weight: bold;
}
.S3Card p {
  color: #7c7c7c;
  font-size: 14px;
}
.S3Card .ImgContainer {
  height: 45%;
}
.S3Card:hover {
  background-color: black;
  color: white;
}

/* section 4 */

.S4Container {
  width: 70%;
  text-align: center;
  margin: 70px auto;
  /* padding: 150px 0; */
  display: flex;
}
.S4Card1Container {
  width: 50%;
}
.S4Card1 {
  width: 80%;
  text-align: left;
}
.Process {
  font-size: 14px;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  background-color: #4eaf4e;
  color: white !important;
  border-radius: 20px;
  font-weight: bold;
}
.S4Card1 h1 {
  font-size: 30px;
  font-weight: bold;
}
.S4Card1 p {
  color: #7c7c7c;
  font-size: 14px;
}
.S4C1Text {
  display: flex;
  align-items: center;
}
.S4C1Text1 h4 {
  margin: 10px 0;
}
.S4C1Text1 p {
  margin: 5px 0;
}
.num {
  width: 70px;
  text-align: center;
  /* margin-right: 15px; */
}
.num p {
  width: 50px;
  height: 50px;
  padding: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}
.num .numOne {
  background-color: #ffefc7;
  color: black;
}
.num .numTwo {
  background-color: #4eaf4e;
  color: white;
}
.num .numThree {
  background-color: black;
  color: white;
}

.S4Card2 {
  width: 50%;
  text-align: left;
}

.Growing {
  font-size: 14px;
  padding: 5px 10px;
  width: 220px;
  text-align: center;
  background-color: #ffcc4a;
  border-radius: 20px;
  font-weight: bold;
}
.growingCardIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.S4Card2 h1 {
  font-size: 30px;
  font-weight: bold;
}
.S4Card2otherCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.S4Card {
  background-color: #e9e9e9;
  border-radius: 20px;
  padding: 15px;
}

/* Section 5 */

.process2Container {
  width: 70%;
  text-align: center;
  margin: 50px auto;
  padding: 150px 0 50px 0;
  display: flex;
  position: relative;
}
.process2Image {
  width: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
.process2Container1 {
  /* position: absolute; */
  z-index: 2;
}
.process2Head {
  /* width: 50%; */
  text-align: left;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
}
.processHead1 {
  width: 50%;
}
.process2Head h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.process2Head button {
  margin-top: 80px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ffcc4a;
  font-weight: bold;
  font-size: 14px;
}
.process2CardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  gap: 15px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.process2ImageCard {
  width: 100%;
}
.process2ImageCard img {
  /* padding: 10px; */
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.process2ImageCard1 {
  position: relative;
}
.process2ImageCard1 img {
  filter: blur(4px);
  /* background-color: rgb(255, 255, 255, 0.4); */
}
.aboveImage button {
  position: absolute;
  top: 10%;
  left: 80%;
  padding: 5px;
  width: 35px;
  height: 35px;
  background-color: #fae41e;
  border-radius: 50%;
  border: 0px;
  /* font-weight: bold; */
  font-size: 18px;
}
.aboveImage div {
  position: absolute;
  top: 70%;
  left: 10%;
  text-align: left;
}
.aboveImage div h3 {
  margin-bottom: 5px;
  font-size: 22px;
  color: white;
}
.aboveImage div p {
  font-size: 12px;
  color: #ffcc4a;
  margin-top: 5px;
}
.process2Nums {
  display: flex;
  justify-content: space-around;
}
.process2Nums div h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}
.process2Nums div p {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}
.clientFeedBack {
  position: static;
}

/* section feedback  */

.feedbackContainer {
  width: 70%;
  text-align: center;
  margin: 0px auto;
  /* padding: 150px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedbackHead {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedbackWords {
  width: 50%;
}
.feedbackprocess {
  font-size: 12px;
  padding: 3px 10px;
  width: 150px;
  text-align: center;
  background-color: #4eaf4e;
  color: white !important;
  border-radius: 20px;
}
.feedbackBody {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.feedbackUser {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 1s ease;
  gap: 10px;
}
.clientFeedBackImg {
  /* width: 30%; */
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.feedbackUser button {
  padding: 7px 12px;
  border-radius: 25px;
  border: 0px;
  font-weight: bold;
  transition: all 1s ease;
}
.feedbackUser button i {
  padding: 10px;
  border-radius: 50%;
  /* background-color: #ffcc4a; */
}
.next {
  background-color: #ffcc4a;
  margin-left: 5px;
}
.prev {
  background-color: black;
  color: white;
  margin-right: 5px;
}
.feedbackFooter {
  width: 100%;
  background-color: black;
  display: flex;
  /* padding: 50px 0px; */
  border-radius: 20px;
  margin: 20px 0 100px 0;
}
.feedbackprocessFooter {
  font-size: 12px;
  padding: 3px 10px;
  width: 100px;
  text-align: center;
  background-color: #4eaf4e;
  color: white !important;
  border-radius: 20px;
}
.feedbackFooter1 {
  width: 50%;
  text-align: left;
  padding: 75px 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.feedbackFooter1 h1 {
  font-size: 30px;
  color: white;
  margin: 5px 0;
  width: 80%;
}
.feedbackFooter1 h1 span {
  color: #7c7c7c;
}
.feedbackWordsFooter {
  color: white;
  width: 100%;
  margin: 10px 0;
}
.feedbackNum {
  background-color: #ffcc4a;
  width: 200px;
  border-radius: 20px;
  color: black;
  padding: 5px;
  letter-spacing: 2px;
}
.feedbackNum i {
  background-color: #ffcc4a;
  padding: 5px;
  border-radius: 20px;
  color: rgb(3, 3, 114);
}
.feedbackFooter2 {
  margin: 0;
  padding: 0;
  position: relative;
  height: 550px;
  width: 50%;
}
.feedbackBgImage {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 0;
  width: 40%;
}
.feedbackImage {
  /* width: 80%; */
  /* height: 80%; */
  position: absolute;
  top: 30%;
  left: 50px;
  z-index: 2;
  width: 80%;
  height: 70%;
}
.feedbackBgColor {
  width: 31%;
  height: 55%;
  background-color: #ffcc4a;
  border-radius: 0 0 20px;
  position: absolute;
  top: 0;
  left: 60%;
}
.feedbackBgColor2 {
  width: 100px;
  height: 120px;
  background-color: #4eaf4e;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  z-index: 1;
  left: 25px;
}

/* blog section  */

.blog {
  background-color: #e9e9e9;
}
.bolgContainer {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
}

.blogHead {
  display: flex;
  justify-content: space-between;
}
.blogHeadWords {
  width: 35%;
}
.blogWord {
  font-size: 12px;
  padding: 3px 10px;
  width: 100px;
  text-align: center;
  background-color: #4eaf4e;
  color: white !important;
  border-radius: 20px;
  font-weight: bold;
}
.blogHead button {
  margin-top: 40px;
  padding: 15px 25px;
  border-radius: 25px;
  background-color: #ffcc4a;
  font-weight: bold;
  border: 0;
  font-size: 14px;
}
.blogBody {
  display: flex;
  justify-content: space-between;
}
.blogBodyCard1 {
  width: 48%;
}
.blogBodyCard1 img,
.blogBodyCard2 img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.blogBodyCard2 {
  width: 48%;
}
.blogBodyCard1End {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogBodyCard1End img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.blogBodyCard1EndButton {
  padding: 15px 25px;
  border-radius: 25px;
  background-color: black;
  font-weight: bold;
  border: 0;
  color: white;
  transition: all 0.3s ease;
}
.blogBodyCard1EndButton:hover {
  background-color: #e9e9e9;
  border: 1px solid #7c7c7c;
  color: black;
}

/* contact section  */

.contactContainer {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.contactInfo {
  width: 40%;
}
.todayContactNum {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.todayContactNum p {
  color: #7c7c7c;
}
.callingIcon,
.callingIcon2,
.callingIcon3 {
  width: 70px;
}
.callingIcon i,
.callingIcon2 i,
.callingIcon3 i {
  padding: 5px;
  background-color: #ffe6ab;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todayContactWord {
  width: 70%;
}
.callingIcon2 i {
  background-color: #98f098;
  width: 50px;
  height: 50px;
}
/* .callingIcon2 {
  width: 30%;
} */
.callingIcon3 i {
  background-color: #e9e9e9;
}
/* .callingIcon3 {
  width: 30%;
} */
.contactUserInfo {
  width: 60%;
  padding: 50px;
}
.contactUserInfoForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 15px;
  width: 100%;
}
.contactUserInfo form label {
  display: block;
  margin-bottom: 5px;
}
.contactUserInfo input {
  padding: 15px;
  border: 1px solid #7c7c7c;
  border-radius: 25px;
  width: 100%;
}
#message {
  padding: 10px;
  width: 100%;
  border-radius: 25px;
}
.contactUserInfo button {
  padding: 15px;
  border-radius: 25px;
  background-color: black;
  color: white;
  margin-top: 15px;
}

/* footer  */

footer {
  background-color: black;
  padding: 30px;
}
.footerContainer {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.footerCard1 {
  color: white;
  width: 25%;
}

.footerCard1 h1 i {
  color: #ffcc4a;
}
.footerCard2 {
  /* border-left: 1px solid #7c7c7c; */
  /* padding-left: 80px; */
  width: 80%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.hr2 {
  width: 1px;
  height: 200px;
  background-color: #7c7c7c;
}
.footerProduct {
  color: #c4c3c3;
  /* width: 100%; */
  text-align: left;
}
/* .footerProduct ul li:first-child {
  font-size: 20px;
  font-weight: 600;
  list-style-type: none;
} */
.footerProduct h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.footerProduct hr {
  width: 30%;
  margin-left: 0;
  border: 1px solid #ffcc4a;
}
.footerProduct ul {
  padding: 10px 0 30px 20px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footerProduct button {
  padding: 20px 10px;
  width: 200px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
}
.buttonList {
  list-style-type: none;
}
footer hr {
  border: 1px solid #7c7c7c;
}
.endOfPage {
  color: #c5c5c5;
  text-align: center;
  line-height: 25px;
}

@media screen and (max-width: 1440px) {
  .linkslist ul li {
    list-style-type: none;
  }
}
@media screen and (max-width: 1350px) {
  .blogBodyCard1EndButton {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 1300px) {
  .brandImages img {
    width: 150px;
    height: 100px;
  }
}
@media screen and (max-width: 1200px) {
  /* .linkslist ul {
    padding: 0;
  } */

  .S3CardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .S4Container {
    width: 80%;
  }
  /* .feedbackBody {
    width: 75%;
  } */
  .blogBodyCard1End {
    flex-direction: column;
  }
}
@media screen and (max-width: 1005px) and (min-width: 985px) {
  .card1 h4,
  .card2 h4 {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  .name {
    width: 100%;
  }
  .num {
    margin-right: 10px;
  }
  nav {
    justify-content: space-between;
    /* position: fixed;
    top: 0%; */
  }
  .linkslist {
    display: none;
  }
  .callingNum {
    /* width: 100%; */
    /* display: none; */
    margin-right: 20px;
  }
  .callingNum {
    margin: 0;
  }
  .humbrger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    /* position: fixed;
    left: 90%; */
  }
  .bar2.active {
    opacity: 0;
  }
  .bar1.active {
    transform: rotate(45deg) translate(7.5px, 10px);
  }
  .bar3.active {
    transform: rotate(-45deg) translate(7.5px, -10px);
  }
  /* .navIcons {
    opacity: 0;
    padding: 30px 30px;
    box-sizing: border-box;
    z-index: 3;
    text-align: left;
    background-color: black;
    width: 250px;
    height: 400px;
    color: white;
    border-radius: 5px;
    transition: all 1s ease;
  }
  .linkslist ul { 
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    list-style-type: circle;
  } */
  /* .linkslist a {
    color: black;
  } */
  .activeNav.active {
    display: block;
    position: absolute;
    width: 100%;
    background-color: black;
    z-index: 3;
  }
  /* .navIcons.active {
    display: flex;
    opacity: 1;
    width: 100%;
    position: absolute;
    top: 120px;
    font-size: 18px;
    font-weight: bold;
    justify-content: left;
    box-sizing: none;
    .linkslist ul {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  }
  .linkslist select {
    background-color: black;
    color: white;
    font-weight: bold;
  } */
  /* .activeNav{
    display: block;
    position: absolute;
    width: 100%;
    background-color: black;
    z-index: 3;
  } */

  .brandImages img {
    width: 100px;
  }

  .S2Container {
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
  .text {
    width: 100%;
  }
  .S2Img {
    position: static;
    width: 100%;
  }
  .S2Img img {
    position: static;
  }
  .pattrenImg {
    display: none;
  }
  .marketImg {
    display: none;
  }
  .photomg {
    width: 100%;
  }

  .S4Container {
    flex-direction: column;
  }
  .name {
    margin: 0;
  }
  .S4Card1 {
    width: 100%;
  }
  .S4Card1Container {
    width: 100%;
  }
  .S4Card2 {
    width: 100%;
  }
  .process2CardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .feedbackHead {
    width: 100%;
  }
  .feedbackWords {
    width: 100%;
    font-size: 14px;
  }
  .feedbackContainer {
    width: 90%;
  }
  .feedbackFooter {
    flex-direction: column;
  }
  .feedbackFooter1 {
    padding: 30px;
    width: 100%;
  }
  .feedbackFooter2 {
    width: 100%;
  }
  .footerContainer {
    width: 85%;
  }
  .footerProduct button {
    width: 170px;
    font-size: 14px;
  }
}
@media screen and (max-width: 786px) {
  .firstHead {
    grid-template-columns: 1fr 1fr;
  }
  .dateAndClock,
  .address,
  .links {
    width: 100%;
    text-align: left;
  }
  .links {
    margin-bottom: 10px;
  }
  .brandImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    /* grid-area: a; */
  }
  .brandImages img {
    width: 100px;
    height: 100px;
  }
  .S3CardsContainer {
    grid-template-columns: 1fr;
  }
  .S3Head {
    width: 100%;
  }
  .S3Head h1 {
    font-size: 24px;
  }
  .process2Container {
    width: 90%;
    padding: 75px 0 50px 0;
  }
  .process2Head {
    width: 100%;
  }
  .process2Head h1 {
    font-size: 26px;
  }
  .process2CardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .blogHead {
    flex-direction: column;
  }
  .blogHead button {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .blogHead h1 {
    font-size: 18px;
  }
  .blogHeadWords {
    width: 100%;
  }
  .blogHead button {
    font-size: 12px;
    padding: 10px 17px;
  }
  .blogBody {
    flex-direction: column;
  }
  .blogBodyCard1 {
    width: 100%;
  }
  .blogBodyCard2 {
    width: 100%;
  }
  .blogBodyCard1End {
    flex-direction: row;
  }
  .blogBodyCard1EndButton {
    padding: 12px;
  }

  .contactContainer {
    flex-direction: column;
  }
  .contactInfo {
    width: 100%;
  }
  .contactUserInfo {
    width: 100%;
    padding: 0;
  }
  .contactUserInfoForm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .footerCard2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .footerContainer {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
  }
  .hr2 {
    display: none;
  }
  .footerCard1 {
    width: 100%;
    margin-bottom: 25px;
  }
  .footerProduct {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .callingNum {
    display: none;
  }

  .S3Head {
    width: 100%;
  }
  .S3Head h1 {
    font-size: 22px;
  }
  .process2Head {
    flex-direction: column;
  }
  .process2Head div {
    width: 100%;
  }

  .process2Head button {
    margin: 0;
  }

  .process2Nums {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }
  .feedbackFooter2 {
    display: none;
  }
  .clientFeedBackImg {
    /* width: 150px;
    height: 150px; */
    width: 30%;
  }
  .feedbackHead h1 {
    font-size: 22px;
  }
  .feedbackWords {
    font-size: 14px;
  }
  .feedbackFooter1 {
    padding: 20px;
  }
  .feedbackWordsFooter {
    font-size: 14px;
  }
  .feedbackNum {
    font-size: 14px;
  }
  .feedbackFooter1 h1 {
    font-size: 20px;
  }
  .feedbackUser button {
    padding: 7px 10px;
    font-size: 12px;
  }

  .bolgContainer {
    width: 90%;
  }
  .blogBodyCard1,
  .blogBodyCard2 {
    font-size: 14px;
  }
  .blogBodyCard1 h2,
  .blogBodyCard2 h2 {
    font-size: 18px;
  }
  .blogBodyCard1EndButton {
    padding: 7px;
  }

  .contactContainer {
    width: 90%;
  }
  .feedbackBody {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .navIcons.active {
    top: 220px;
  }

  .section1 img {
    display: none;
  }
  .section1 {
    background-color: #e9e9e9;
  }
  .card {
    width: 100%;
    position: static;
    /* background-color: #e9e9e9; */
    border-radius: 0;
  }

  .brandImages {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-area: a; */
    /* width: 150px; */
    /* gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center; */
  }
  .brandImages img {
    width: 100px;
    height: 100px;
  }

  .S2Container {
    width: 90%;
  }
  .S2ImagesContainer {
    justify-content: center;
  }
  .S4Card1 {
    width: 100%;
    text-align: left;
  }
  .S4Card1 h1 {
    font-size: 24px;
  }
  .S4Card2otherCards {
    grid-template-columns: 1fr;
  }
  .S4Card2 h1 {
    font-size: 24px;
  }
  .S4Card2 p {
    font-size: 14px;
    color: #7c7c7c;
  }
  .headText {
    font-size: 20px;
  }

  /* .clientFeedBackImg {
    width: 100px;
    height: 100px;
  } */
  .card1,
  .card2 {
    width: 100px;
  }
  .card1 p {
    font-size: 12px;
  }
  .card2 p {
    font-size: 12px;
  }
  .S3Container {
    width: 90%;
  }

  .S4C1Text1 {
    width: 70%;
  }

  .footerContainer {
    width: 90%;
  }
  .footerCard1 h1 {
    font-size: 28px;
    width: 100%;
  }
  .footerCard2 {
    border: 0;
    padding: 0 !important;
    flex-direction: column;
  }
  .footerProduct button {
    padding: 10px;
    font-size: 14px;
  }

  .firstHead {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .dateAndClock,
  .address,
  .links {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .dateAndClock{
    justify-content: center;
  }
  .todayContactNum h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 360px) {
  .blogBodyCard1End {
    flex-direction: column;
  }
  .feedbackUser {
    flex-direction: column;
  }
}
