* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: cabin;
}

.firstHead {
  display: flex;
  background-color: black;
  color: #f5f5f5;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
  /* text-align: center; */
}
.email {
  width: 20%;
}
.address {
  width: 40%;
  text-align: center;
  color: #e9e9e9;
}
.address i {
  color: #ffcc4a;
}
.links {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(54, 53, 53);
  color: white;
  padding: 0 10%;
  /* text-align: center; */
}

.humbrger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  text-align: right;
  /* transition: all 2s; */
}
.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 4px;
  background-color: #c4c3c3;
  border-radius: 25px;
  transition: all 1s ease-in-out;
}

.name {
  width: 20%;
}

.linkslist {
  width: 40%;
}
.linkslist ul {
  display: flex;
  justify-content: space-between;
}
.linkslist ul li:hover,
li a:hover {
  color: #4eaf4e;
}
.linkslist a {
  text-decoration: none;
  color: white;
  list-style-type: circle;
}
.callingNum {
  width: 20%;
}
.callingNum div {
  background-color: white;
  width: 65%;
  border-radius: 20px;
  color: black;
  padding: 5px;
}
.callingNum div i {
  background-color: #ffcc4a;
  padding: 5px;
  border-radius: 20px;
  color: rgb(3, 3, 114);
}

/* section1 */

.section1 {
  position: relative;
  /* background-image: url('images/Service Images/'); */
}
.section1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
}
.card {
  padding: 15px 30px;
  background-color: rgb(255, 255, 255, 0.9);
  /* opacity: 0.3; */
  width: 15rem;
  position: absolute;
  top: 25%;
  left: 15%;
  border-radius: 15px;
  object-fit: cover;
}
.cardPara {
  font-size: 24px;
  font-weight: 500;
}
.serviceWord {
  font-size: 12px;
  padding: 3px 10px;
  width: 100px;
  text-align: center;
  background-color: #ffcc4a;
  color: white !important;
  border-radius: 20px;
}

/* Our Team  */
.ourTeam {
  background-color: #f5f5f5;
  padding: 50px 0;
}
.teamContainer {
  width: 70%;
  margin: 0 auto;
}

.teamWord {
  font-size: 12px;
  padding: 3px 10px;
  width: 100px;
  text-align: center;
  background-color: #ffcc4a;
  border-radius: 20px;
  color: black;
}
.teamHead {
  width: 60%;
}
.teamMembers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.CEOMember {
  position: relative;
  margin: 30px 0;
  text-align: center;
}
.CEOword {
  position: absolute;
  top: 55%;
  left: 40%;
  padding: 5px 20px;
  background-color: #ffcc4a;
  border-radius: 20px;
}
.CEOMember img {
  height: 350px;
  width: 90%;
  border-radius: 15px;
  object-fit: cover;
  object-position: top;
}
.CEOword2 {
  position: absolute;
  top: 55%;
  left: 58%;
  padding: 5px 20px;
  background-color: black;
  border-radius: 20px;
  color: white;
}
.CEOword3 {
  position: absolute;
  top: 55%;
  left: 40%;
  padding: 5px 20px;
  background-color: black;
  border-radius: 20px;
  color: white;
}
.discrption {
  font-size: 14px;
  color: #7c7c7c;
  margin: 0 10%;
}
.teamMembersLinks {
  display: flex;
  justify-content: space-around;
  margin: 10px 20%;
  font-size: 22px;
}

/* contact section  */
.contact{
  padding: 100px 0;
}
.contactContainer {
width: 70%;
margin: 0 auto;
padding: 50px;
background-color: black;
color: white;
border-radius: 25px;
}
.contactHead{
  width: 50%;
}
.contactContainer{
  display: flex;
}
.contactImage img{
  height: 300px;
  object-fit: cover;
}

/* footer  */

footer {
  background-color: black;
  padding: 30px;
}
.footerContainer {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
}
.footerCard1 {
  color: white;
  width: 30%;
}
.footerCard1 h1 i {
  color: #ffcc4a;
}
.footerCard2 {
  border-left: 1px solid #7c7c7c;
  padding-left: 100px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.footerProduct {
  color: #c4c3c3;
  text-align: left;
}
.footerProduct h4 {
  margin-top: 0;
}
.footerProduct hr {
  width: 30%;
  margin-left: 0;
  border: 1px solid #ffcc4a;
}
.footerProduct ul {
  padding: 20px;
  margin-bottom: 0;
}
.footerProduct button {
  padding: 20px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
}
footer hr {
  border: 1px solid #7c7c7c;
}

@media screen and (max-width: 1440px) {
  .callingNum div {
    width: 100%;
  }
  .linkslist ul li {
    list-style-type: none;
  }
}
@media screen and (max-width: 1200px) {
  .linkslist ul {
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .name {
    width: 100%;
  }

  nav {
    justify-content: space-between;
  }
  .linkslist {
    display: none;
  }
  .callingNum {
    width: 100%;
    /* display: none; */
  }
  .humbrger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }
  .bar2.active {
    opacity: 0;
  }
  .bar1.active {
    transform: rotate(45deg) translate(7.5px, 10px);
  }
  .bar3.active {
    transform: rotate(-45deg) translate(7.5px, -10px);
  }
  .navIcons {
    opacity: 0;
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    width: 100%;
    color: black;
  }
  .linkslist ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 180px 0;
  }
  .linkslist a {
    color: black;
  }
  .navIcons.active {
    display: flex;
    opacity: 1;
    /* flex-direction: column;
          justify-content: space-between;
          align-items: center; */
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 80%;
    right: 0;
    padding: 0;
    /* transition: all 2s; */
    justify-content: center;
    .linkslist ul {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 180px 0;
    }
  }
  .teamMembers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

}
@media screen and (max-width: 786px) {
  .footerCard2 {
    border-left: 1px solid #7c7c7c;
    padding-left: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  .footerContainer {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
  }
  .footerCard1 {
    width: 100%;
    margin-bottom: 25px;
  }
  .footerProduct button {
    padding: 5px;
  }
}
@media screen and (max-width: 600px) {
  .callingNum {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .firstHead {
    flex-direction: column;
  }
  .email,
  .address,
  .links {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }

  .footerCard2 {
    border: 0;
    padding: 0;
  }

  .feedbackFooter2 {
    display: none;
  }
}
